<h1>StoryTracker App</h1>
<p>
  <% if current_user %>
    Welcome <%= current_user.name %>!
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in with GitHub", '/auth/github' %>
  <% end %>
</p>
