<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">StoryTracker</a></li>
    </ul>
  </nav>
</footer>
